
img{
    opacity: 0.5;
}
.container{
    background-image: url(Autumn.jpg);
    height: 100vh;
    width: 100%;
    position: absolute;
    background-size: cover;
    
    opacity: 0.45;
}
    
div:not(.container){
color:rgb(66, 2, 66);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 10px;
font-size: 20px;
}

.fixed{
    position: fixed;
    top: 0;
    left: 20px;
    width: 300px;
    border: 2px solid blue;
}
.sticky{
    position: sticky;
    top: 10px;
    left: 20px;
    width: 300px;
    border: 2px solid green;
}
.relative{
    position:relative;
    left: 20px;
    border: 2px solid black;
}
.absolute{
    position:absolute;
    top: 500px;
    left: 20px;
    border: 2px solid orange;
}
.static{
    position:static;
    left: 20px;
    border: 2px solid teal;
}
